.lexical-hr {
  margin: 10px 0;
}

.lexical-paragraph {
  margin: 5px 0;
  letter-spacing: 1px;

  .lexical-text-bold {
    font-weight: 700;
  }

  .lexical-text-underline {
    text-decoration: underline;
  }

  .lexical-text-italic {
    font-style: italic;
  }

  code {
    .lexical-text-code {
      width: 100%;
      padding: 5px;
      margin: 0 2px;
      border-radius: 4px;
      background-color: var(--ACHROMATIC-OPACITY-6);
    }
  }

  mark {
    background-color: transparent;
    span {
      width: 100%;
      padding: 0px 1px;
      border-radius: 4px;
      margin: 0 1px;
      background-color: var(--HIGHLIGHT-GREEN);
      &:hover {
        cursor: pointer;
      }
    }
  }

  .lexical-text-strikethrough {
    text-decoration: line-through;
  }
}

[type='page-break'] {
  position: relative;
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--ACHROMATIC-REVERSE);
  margin: 25px 0;

  .icon {
    position: absolute;
    background-size: cover;
    top: 50%;
    left: 5%;
    transform: translate(0, -50%);
    width: 16px;
    height: 16px;
    fill: var(--ACHROMATIC-REVERSE);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sequence {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-1rem, calc(-100% - 12px));
    color: var(--ACHROMATIC-REVERSE);
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    padding: 2px 6px;
    border: 1px solid var(--ACHROMATIC-OPACITY-2);
    border-radius: 4px;
    background-color: var(--ACHROMATIC-REVERSE);
    content: 'PAGE BREAK';
    font-size: 12px;
    color: var(--ACHROMATIC);
    font-weight: 600;
  }
}

.image-insertion-container {
  width: 100%;
  height: 12rem;
  background-color: var(--ACHROMATIC-REVERSE-OPACITY-1);
  border-radius: 0.4rem;
  margin: 12px 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .wrapper-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .button-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.44rem;
      padding: 1rem;

      .tab-mode-button {
        position: relative;
        width: 10.5rem;
        height: 2.5rem;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.6rem;

        &.active {
          background-color: var(--ACHROMATIC-OPACITY-3);
        }

        &:hover {
          background-color: var(--ACHROMATIC-OPACITY-3);
        }

        .text {
          font-size: 1rem;
          font-weight: 400;
          color: var(--ACHROMATIC-REVERSE);
        }

        .file-plus-icon {
          width: 1.5rem;
          height: 1.5rem;
          stroke: var(--ACHROMATIC-REVERSE);
          stroke-width: 2;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(50%, -50%);
        }

        .import-icon {
          width: 1.5rem;
          height: 1.5rem;
          stroke: var(--ACHROMATIC-REVERSE);
          stroke-width: 2;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(50%, -50%);
        }
      }
    }

    .file-wrapper {
      padding-left: 2rem;

      .file-input {
        display: none;
      }
    }

    .url-wrapper {
      padding-left: 2rem;
    }

    .caption-wrapper {
      padding: 1rem 1rem 0 2rem;
    }
  }

  .wrapper-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 1rem;
    position: relative;

    .image-info-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;
      gap: 0.4rem;

      .image-info-text {
        color: var(--ACHROMATIC-REVERSE);
        font-size: 0.875rem;
        font-weight: 400;
      }
    }

    .button-wrapper {
      position: absolute;
      bottom: 0.5rem;
      right: 0.5rem;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      gap: 0.6rem;

      .ctrl-button {
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;

        &:hover {
          cursor: pointer;
          background-color: var(--ACHROMATIC-OPACITY-3);
        }
        .preview-icon {
          width: 1.5rem;
          height: 1.5rem;
          fill: var(--ACHROMATIC-REVERSE);
        }

        .trash-icon {
          width: 1.5rem;
          height: 1.5rem;
          fill: var(--ACHROMATIC-REVERSE);
        }
        .check-icon {
          width: 1.5rem;
          height: 1.5rem;
          stroke: var(--ACHROMATIC-REVERSE);
          stroke-width: 2;
        }
      }
    }
  }
}
