.editor-input {
  width: 50%;
  min-width: 64rem;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow-y: scroll;
  border-left: 1px solid var(--ACHROMATIC-REVERSE-OPACITY-1);
  border-right: 1px solid var(--ACHROMATIC-REVERSE-OPACITY-1);
  background-color: #3d3d3d;

  .editor {
    width: 100%;
    height: 100%;
    min-height: 100%;

    .toolbar {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
