.lexical-shell {
  width: 80%;
  max-width: 60rem;
  min-height: calc(3.25rem + 4px);
  position: fixed;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);

  .editor {
    width: 100%;
    height: 100%;
    background-color: var(--ACHROMATIC);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    position: relative;

    .toolbar {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(0, calc(-100% - 1rem));
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
}
